@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
  /* background-color: hsl(219, 59%, 93%); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --accent-color: rgb(88 28 135);
  accent-color: var(--accent-color);
}


:focus-visible {
  /* outline-offset: 5px; */
  outline-color: var(--accent-color);
  outline-offset: 4px;
  outline: 3px solid var(--accent-color);
}